body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #e6f2e1;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #3c5e3c; 
    padding: 20px;
    color: white;
    text-align: center;
}

.contenedor {
    background-color: #f5ede1; 
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #8b6f47;
    text-align: center;
}


.boton {
    display: block;          
    margin: 15px auto;        
    padding: 12px 20px;
    width: 70%;              
    background-color: #4d7a4d;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}

.boton:hover {
    background-color: #355a35;
}

button {
    background-color: #4d7a4d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #355a35;
}

.desplegable {
    position: relative;
    display: inline-block;
    width: 70%;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #f5ede1;
    width: 100%;
    box-shadow: 0 0 10px #8b6f47;
    border-radius: 8px;
    z-index: 1;
    text-align: left;
}

.contenido-desplegable a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #3c5e3c;
    font-size: 16px;
}

.contenido-desplegable a:hover {
    background-color: #e6f2e1;
}

.desplegable:hover .contenido-desplegable {
    display: block;
}

.contenedor img {
    width: 40%;          /* tamaño de la imagen */
    max-width: 400px;    /* evita que se hagan gigantes */
    height: auto;        /* mantiene proporción */
    display: block;      
    margin: 20px auto;   /* centrada y con espacio */
    border-radius: 8px;  /* esquinas suaves (opcional) */
}
