<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/static/estilos.css">
    <meta charset="UTF-8">
    <title>Menú - Planeta Vivo</title>
</head>
<body>

<div class="header">
    <h1>Menú Principal</h1>
</div>

<div class="contenedor">

    <h2>Selecciona una opción</h2>

    <a class="boton" href="/pantalla1">Que es el Reciclaje</a><br><br>
    <a class="boton" href="/pantalla2">Como reciclar</a><br><br>
    <a class="boton" href="/pantalla3">Tipos de reciclaje</a><br><br>
    <a class="boton" href="/pantalla4">Herramientas más utilizadas</a><br><br>
    <a class="boton" href="/pantalla5">Qué hace el reciclaje inteligente</a><br><br>
    <a class="boton" href="/clasificar">Clasificar residuos</a><br><br>
    <a class="boton" href="/lecciones">lecciones de reciclaje</a><br><br>
    <a class="boton" href="/retos">Retos </a><br><br>
    <a class="boton" href="/quiz">Cuestionario</a><br><br>
    <a class="boton" href="{{ url_for('nivel_reciclaje') }}">Nivel de reciclaje</a><br><br>

   


    <a href="/registro"><button>Regresar</button></a>

</div>

</body>
</html>


