<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/static/estilos.css">
    <meta charset="UTF-8">
    <title>Planeta vivo</title>
        <style>
        .texto-justificado {
            text-align: justify;
            line-height: 1.6;
        }
    </style>
</head>
<body>

<div class="header">
    <h1>Que es??/</h1>
</div>

<div class="contenedor">

    <br><br>

    <p>
        El <strong>reciclaje inteligente</strong> es una forma moderna de gestionar los residuos que utiliza 
        tecnología como sensores, cámaras, inteligencia artificial y sistemas automatizados para mejorar 
        la separación, recolección y procesamiento de la basura. Estos métodos permiten identificar 
        correctamente los materiales reciclables, evitar errores al separar la basura y reducir la contaminación. 
        Además, ayuda a que las ciudades sean más limpias y eficientes, promoviendo hábitos sostenibles 
        en la población.
    </p>
    <img src="/static/imagenes/pantalla1..jpeg" alt="Reciclaje" class="imagen">


    <a href="/menu"><button>Regresar</button></a>
</div>

</body>
</html>

