<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/static/estilos.css">
    <meta charset="UTF-8">
    <title>Planeta vivo</title>
        <style>
        .texto-justificado {
            text-align: justify;
            line-height: 1.6;
        }
    </style>
</head>
<body>

<div class="header">
    <h1>PLANETA VIVO</h1>
</div>

<div class="contenedor">

    <br><br>

    <p>
        El <strong>reciclaje inteligente</strong> es un método moderno de gestión de residuos que
        utiliza tecnologías avanzadas como sensores, cámaras, inteligencia artificial y sistemas
        automatizados para mejorar la separación, recolección y procesamiento de la basura. Estos 
        sistemas permiten identificar de manera precisa los diferentes tipos de materiales reciclables, 
        como plástico, papel, vidrio y metal, reduciendo errores humanos y evitando que los residuos 
        reciclables se mezclen con la basura orgánica. Gracias a esta tecnología, se disminuye la 
        contaminación, se optimiza el uso de los recursos naturales y se reduce la cantidad de desechos 
        que terminan en los vertederos. Además, el reciclaje inteligente contribuye a que las ciudades 
        sean más limpias y eficientes, mejora la organización en la recolección de residuos y fomenta 
        hábitos responsables y sostenibles en la población, ayudando a proteger el medio ambiente y a 
        cuidar el planeta para las futuras generaciones.
    </p>
    <img src="/static/imagenes/pantalla1..jpeg" alt="Reciclaje" class="imagen">


    <a href="/menu"><button>Regresar</button></a>
</div>

</body>
</html>

